
.icon-download:before { content: '\e800'; } /* '' */
.icon-clipboard:before { content: '\e801'; } /* '' */
.icon-trash:before { content: '\e802'; } /* '' */
.icon-mail:before { content: '\e803'; } /* '' */