/**
 * Custom CSS Rules
 * Some are inspired by Signal design
 */

:root {
  --bulma-link-h: 171deg;
  --bulma-link-s: 100%;
  --bulma-link-l: 40%;
}

@media (prefers-color-scheme: light) {
  :root {
    --bulma-link-on-scheme-l: 26%;
    --bulma-danger-l: 45%;
  }

  .has-text-primary {
    --bulma-primary-l: 20%;
  }

  .button.is-danger {
    --bulma-link-on-scheme-l: 19%;
    --bulma-button-background-l: 65%;
  }

  .panel.is-danger {
    --bulma-panel-heading-background-l: 65%;
    --bulma-panel-s: 85%;
  }

  a.navbar-item.is-active {
    background-color: #F0F2F4;
    color: #1F2229;
  }

  #file-js-upload {
    background: hsl(var(--bulma-scheme-h), var(--bulma-scheme-s), calc(var(--bulma-scheme-main-ter-l)));
  }

  .notification::after {
    background: hsl(var(--bulma-notification-h), var(--bulma-notification-s), calc(var(--bulma-notification-background-l) + 20%));
  }

  tr.deleted {
    background: repeating-linear-gradient(-45deg, transparent 0 2rem, var(--bulma-danger-05) 2rem 4rem);
  }

  .theme-selector {
    --l-hover: 95%;
  }

  .is-sun {
    --h: 37deg;
    --s: 94%;
    --l: 33%
  }

  .is-moon {
    --h: 256;
    --s: 88%;
    --l: 64%
  }

  .is-desktop {
    --h: 157deg;
    --s: 30%;
    --l: 39%
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --bulma-danger-l: 75%;
    --bulma-link-on-scheme-l: 40%;
  }

  .panel.is-danger {
    --bulma-panel-heading-background-l: 65%;
    --bulma-panel-s: 55%;
  }

  a.navbar-item.is-active {
    background-color: #1F2229;
    color: #EBECF0;
  }

  #file-js-upload {
    background: hsl(var(--bulma-scheme-h), var(--bulma-scheme-s), calc(var(--bulma-scheme-main-ter-l)));
  }

  .notification::after {
    background: hsl(var(--bulma-notification-h), var(--bulma-notification-s), calc(var(--bulma-notification-background-l) + 20%));
  }

  tr.deleted {
    background: repeating-linear-gradient(-45deg, transparent 0 2rem, var(--bulma-danger-05) 2rem 4rem);
  }

  .broadcast-message {
    --bulma-scheme-s: 50%;
  }

  .theme-selector {
    --l-hover: 5%;
  }

  .is-sun {
    --h: 42deg;
    --s: 100%;
    --l: 53%
  }

  .is-moon {
    --h: 256;
    --s: 88%;
    --l: 64%
  }

  .is-desktop {
    --h: 153deg;
    --s: 53%;
    --l: 53%
  }
}

[data-theme=light] {
  --bulma-danger-l: 45%;
  --bulma-link-on-scheme-l: 26%;

  .has-text-primary {
    --bulma-primary-l: 20%;
  }

  .button.is-danger {
    --bulma-button-background-l: 65%;
  }

  .panel.is-danger {
    --bulma-panel-heading-background-l: 65%;
    --bulma-panel-s: 85%;
  }

  a.navbar-item.is-active {
    background-color: #F0F2F4;
    color: #1F2229;
  }

  #file-js-upload {
    background: hsl(var(--bulma-scheme-h), var(--bulma-scheme-s), calc(var(--bulma-scheme-main-ter-l)));
  }

  .notification::after {
    background: hsl(var(--bulma-notification-h), var(--bulma-notification-s), calc(var(--bulma-notification-background-l) + 20%));
  }

  tr.deleted {
    background: repeating-linear-gradient(-45deg, transparent 0 2rem, var(--bulma-danger-05) 2rem 4rem);
  }

  .theme-selector {
    --l-hover: 95%;
  }

  .is-sun {
    --h: 37deg;
    --s: 94%;
    --l: 33%
  }

  .is-moon {
    --h: 256;
    --s: 88%;
    --l: 64%
  }

  .is-desktop {
    --h: 157deg;
    --s: 30%;
    --l: 39%
  }
}

[data-theme=dark] {
  --bulma-danger-l: 75%;
  --bulma-link-on-scheme-l: 40%;

  .panel.is-danger {
    --bulma-panel-heading-background-l: 65%;
    --bulma-panel-s: 55%;
  }

  a.navbar-item.is-active {
    background-color: #1F2229;
    color: #EBECF0;
  }

  #file-js-upload {
    background: hsl(var(--bulma-scheme-h), var(--bulma-scheme-s), calc(var(--bulma-scheme-main-ter-l)));
  }

  .notification::after {
    background: hsl(var(--bulma-notification-h), var(--bulma-notification-s), calc(var(--bulma-notification-background-l) + 20%));
  }

  tr.deleted {
    background: repeating-linear-gradient(-45deg, transparent 0 2rem, var(--bulma-danger-05) 2rem 4rem);
  }

  .broadcast-message {
    --bulma-scheme-s: 50%;
  }

  .theme-selector {
    --l-hover: 5%;
  }

  .is-sun {
    --h: 42deg;
    --s: 100%;
    --l: 53%
  }

  .is-moon {
    --h: 256;
    --s: 88%;
    --l: 64%
  }

  .is-desktop {
    --h: 153deg;
    --s: 53%;
    --l: 53%
  }
}

@media (min-width: 768px) {
  main {
    /* Equivalent to hero is-fullheight-with-navbar value */
    height: calc(100vh - var(--bulma-navbar-height));
    max-height: calc(100vh - var(--bulma-navbar-height));
  }

  #section-main .left-zone,
  #section-main .right-zone,
  #section-main .left-zone .fixed-grid,
  #section-main .left-zone .fixed-grid .grid,
  #section-main .left-zone .file-cta.full-version {
    height: 100%;
  }

  #upload-box {
    height: 100%;
  }
}

.input {
  --bulma-input-placeholder-color: hsla(var(--bulma-text-h), var(--bulma-text-s), var(--bulma-text-strong-l), .6) !important;
}

.field-label .label.disabled {
  color: var(--bulma-text-weak);
}

a:not(#main-menu a) a:hover {
  color: hsl(var(--bulma-link-h), var(--bulma-link-s), calc(var(--bulma-link-on-scheme-l) - 15%))
}

.progress::-webkit-progress-value {
  transition: width 0.5s linear;
}

#modal-language-selector .modal-card-foot {
  background: var(--bulma-modal-card-body-background-color);
}

#modal-language-selector a.navbar-item:hover {
  color: var(--bulma-link-text);
}

#main-menu div.navbar-item:hover:has(form) {
  --bulma-navbar-item-background-l-delta: var(--bulma-navbar-item-hover-background-l-delta);
  --bulma-navbar-item-background-a: 1;

  background-color: hsla(var(--bulma-navbar-h),
      var(--bulma-navbar-s),
      calc(var(--bulma-navbar-item-background-l) + var(--bulma-navbar-item-background-l-delta)),
      var(--bulma-navbar-item-background-a));
}

#main-menu div.navbar-item form {
  height: 100%;
  width: 100%;
  align-content: center;
}

#upload-box .file-cta {
  border-style: dashed;
  border-width: 2px;
  justify-content: center;
}

#upload-box #password-control .icon.is-right {
  pointer-events: initial;
}

.wb-all {
  word-break: break-all;
}

.wb-word {
  word-break: break-word;
}

#provided-files {
  height: 30vh;
  overflow-y: auto;
  border-radius: var(--bulma-radius);
}

#provided-files .icon-text {
  justify-content: center;
  text-align: center
}

#uploaded-files {
  height: 100%;
  overflow-y: auto;
  background: hsl(var(--bulma-scheme-h), var(--bulma-scheme-s), calc(var(--bulma-scheme-main-ter-l)));
  border-radius: var(--bulma-radius);
}

#uploaded-files .card-footer {
  overflow-x: auto;
}

#file-js-upload {
  background: hsl(var(--bulma-scheme-h), var(--bulma-scheme-s), calc(var(--bulma-scheme-main-ter-l)));
}

#file-js-upload:has(.full-version:not(.is-hidden)) .file-cta {
  height: 100%;
  width: 100%
}

#file-js-upload:has(.small-version:not(.is-hidden)) .grid {
  align-content: space-between;
}

.file-input:focus~.file-cta {
  border-color: hsl(var(--bulma-primary-h), var(--bulma-primary-s), var(--bulma-primary-l));
}

#notifications-container {
  top: 5rem;
  left: auto;
  z-index: 99999;
  max-height: 100%;
  overflow: hidden;
  padding: 1rem;
}

.notification {
  display: flex;
  flex-direction: column;
  box-shadow: 0 0.1rem 0.3rem 0 rgba(0, 0, 0, 0.16), 0 0.1rem 0.7rem 0 rgba(0, 0, 0, 0.12);
  width: 30rem;
  min-height: 3rem;
  padding: 0.5rem;
  align-items: center;
  justify-content: left;
  position: relative;
  margin: auto;
  bottom: 2rem;
  margin-top: 1rem;
  line-height: 1.5rem;
  overflow: hidden;
  opacity: 0;
  text-wrap: pretty;
  animation: fadein 0.5s forwards, fadeout 0.5s 3.5s forwards;
}

.notification::after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  height: 0.25rem;
  background: hsl(var(--bulma-notification-h), var(--bulma-notification-s), calc(var(--bulma-notification-background-l) - 20%));
  transform-origin: left center;
  transform: scaleX(0);
  animation: growX 3.5s forwards linear;
}


@keyframes fadein {
  from {
    opacity: 0;
    bottom: 0;
  }

  to {
    opacity: 1;
    bottom: 2rem;
  }
}

@keyframes fadeout {
  from {
    opacity: 1;
  }

  to {
    opacity: 1;
  }
}

@keyframes growX {
  to {
    transform: scaleX(1);
  }
}

tr.deleted {
  background: repeating-linear-gradient(-45deg, transparent 0 2rem, var(--bulma-danger-95) 2rem 4rem);
}

.modal-card-title {
  width: 100%
}

.modal-card-title p {
  width: 95%
}

.files-list {
  list-style: disc;
}

th abbr {
  cursor: help
}

.broadcast-message {
  margin: 1rem;
}

.theme-selector .icon {
  color: hsl(var(--h), var(--s), var(--l));
}

.theme-selector .option:hover,
.theme-selector .dropdown-trigger:hover {
  background-color: hsl(var(--h), var(--s), var(--l-hover));
}

.theme-selector .dropdown-trigger .button:hover,
.theme-selector.is-active .dropdown-trigger .button {
  background-color: hsl(var(--h), var(--s), var(--l-hover));
}

.no-border {
  border: none;
  box-shadow: none;
}

.file-as-button {
  --bulma-button-weight: var(--bulma-weight-medium);
  --bulma-button-border-style: solid;
  --bulma-button-border-width: var(--bulma-control-border-width);
  --bulma-button-padding-vertical: 0.5em;
  --bulma-button-padding-horizontal: 1em;
  --bulma-button-h: var(--bulma-scheme-h);
  --bulma-button-s: var(--bulma-scheme-s);
  --bulma-button-background-l: var(--bulma-scheme-main-l);
  --bulma-button-background-l-delta: 0%;
  --bulma-button-color-l: var(--bulma-text-strong-l);
  --bulma-button-border-l: var(--bulma-border-l);
  --bulma-button-border-l-delta: 0%;
  --bulma-button-outer-shadow-h: 0;
  --bulma-button-outer-shadow-s: 0%;
  --bulma-button-outer-shadow-l: 20%;
  --bulma-button-outer-shadow-a: 0.05;
  background-color: hsl(var(--bulma-button-h), var(--bulma-button-s), calc(var(--bulma-button-background-l) + var(--bulma-button-background-l-delta)));
  border-color: hsl(var(--bulma-button-h), var(--bulma-button-s), calc(var(--bulma-button-border-l) + var(--bulma-button-border-l-delta)));
  border-style: var(--bulma-button-border-style);
  border-width: var(--bulma-button-border-width);
  box-shadow: 0 .0625em .125em hsla(var(--bulma-button-outer-shadow-h), var(--bulma-button-outer-shadow-s), var(--bulma-button-outer-shadow-l), var(--bulma-button-outer-shadow-a)), 0 .125em .25em hsla(var(--bulma-button-outer-shadow-h), var(--bulma-button-outer-shadow-s), var(--bulma-button-outer-shadow-l), var(--bulma-button-outer-shadow-a));
  color: hsl(var(--bulma-button-h), var(--bulma-button-s), var(--bulma-button-color-l));
  cursor: pointer;
  font-weight: var(--bulma-button-weight);
  height: auto;
  justify-content: center;
  padding: calc(var(--bulma-button-padding-vertical) - var(--bulma-button-border-width)) calc(var(--bulma-button-padding-horizontal) - var(--bulma-button-border-width));
  text-align: center;
  white-space: nowrap;
}

.file-as-button:hover {
  --bulma-button-background-l-delta: var(--bulma-hover-background-l-delta);
  --bulma-button-border-l-delta: var(--bulma-hover-border-l-delta);
  background-color: hsl(var(--bulma-button-h), var(--bulma-button-s), calc(var(--bulma-button-background-l) + var(--bulma-button-background-l-delta)));
}